{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
<div class="container">
    <h1>Our Homes</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique at error, accusantium sequi libero illo obcaecati molestias vel cum, recusandae hic totam ullam velit ex soluta a nihil omnis et?</p>
</div>
{% endblock %}
