<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>
<body>
    <h1>{{ contact.lastname }}</h1>
    <h2><a href="{{ url('property.show', { id: contact.property.id, slug: contact.property.slug }) }}"></a>{{ contact.property.title }}</h2>
</body>
</html>